.outlet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 5px 15px;
    border-radius: 40%;
    background: transparent;
    border: 1px solid #8888887f;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background: #098a00;
      transform: scale(1.1);
      span {
        color: white;
      }
    }
    span {
      font-size: 25px;
      transition: 0.5s;
    }
  }
}

.edit-btn {
  padding: 5px;
  border: none;
  background: transparent;
  transition: 0.5s;

  span {
    font-size: 25px;
    color: rgb(0, 0, 255);
  }
  &:hover {
    background: #2c5aff30;
    border-radius: 50%;
    transform: scale(1.1);
    cursor: pointer;
  }
}
.delete-btn {
  padding: 5px;
  border: none;
  background: transparent;
  transition: 0.5s;
  span {
    font-size: 25px;
    color: rgb(255, 0, 0);
  }
  &:hover {
    background: #ff515130;
    border-radius: 50%;
    transform: scale(1.1);
    cursor: pointer;
  }
}
