

.ant-layout  {
  height: 100vh;
}

.ant-layout-content {
  overflow: auto;
}

::-webkit-scrollbar {
  background: #d7d7d7;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}